#supportBtn {
    font-family: inter;
    letter-spacing: 1px;
    background-color: #D0F344;
    color: black;
}

#missionBtn {
    font-family: inter;
    letter-spacing: 1px;
    background-color: rgba(0,0, 0, 0.3);
}