#button {
    font-family: inter !important;
    letter-spacing: 4px;
    background-color: #2397CD;
    border-color: #2397CD;
    font-weight: 700px;
}

#button:hover {
    background-color: #22A55A;
}